body {
  background-color: rgb(219, 245, 255);
  text-align: center;
}
h1 {
  padding: 10px;
  font-weight: lighter;
}
h3 {
  font-weight: lighter;
}
.input-group {
  position: relative;
  width: 60%;
  margin: 0 20%;
}
.container {
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 40%;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  border: 5rem;
  padding: 4% 4% 2% 4%;
  border-radius: 20px;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}
.search-img {
  margin: 0 25%;
}
